/*========COMMOMN STYLES======*/
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
margin-top: 0;
margin-bottom: 0;
}

ul,
ol {
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

img{
    display: block;
}

.section-title{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-align:center;
    text-transform: uppercase;
    color: #111111;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
width: 1158px;
padding:0 15px;
margin: 0 auto;
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;
}

/*========/COMMON STYLES=======*/

/*========HEADER STYLES=======*/
.logo-header {
        color: #4d5ae5;
        font-family: "Raleway",sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-right: 76px;
        
}

.menu-link{
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    position: relative;
    color: #404BBF;
}



.menu-link.current::after{
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    content:"";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

  
.menu-link:hover,
.menu-link:focus{
    color: #404bbf;
}



.link-address{
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address{
    font-style: normal;
}

.link-address:hover{
    color: #404bbf;
}

.link-address:focus{
    color: #404bbf;
}

.page-header-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.page-navigation{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    gap:40px;
}


.list-address{
    display: flex;
    gap: 40px;
}


.page-header{
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

/*========/HEADER STYLES=======*/



/*========HERO STYLES=======*/

.hero{
max-width: 1440px;
background-color: #2E2F42;
padding-bottom: 188px;
padding-top: 188px;
background-image: 
linear-gradient(to bottom,
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
url(../images/hero/hero-main.jpg);
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin: 0 auto;
}

.header-hero{
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-title{
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.main-button{
      background: #4D5AE5;
      color:  #FFF;
      font-size: 16px;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.04em;
      min-width: 169px;
      height: 56px;
      margin: 0 auto;
      display: block;
      border-radius: 4px;
      border: none;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     

}

.main-button:hover{
    background-color: #404BBF;
}

.main-button:focus{
    background-color: #404BBF
}
/*========/HERO STYLES=======*/

/*========FEATURES STYLES======*/

.subheader-features{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.text-features{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-features{
    display: flex;
    gap: 24px;
    }

.list-features{
width: calc((100% - 72px) / 4);
}

.section-features{
    padding-top: 120px;
    padding-bottom: 120px;
}

.icon-features{
    fill:  #2e2f42;
}

.icon-border{
display: flex;  
align-items: center; 
justify-content: center;
width: 264px;
height: 112px;
border: 1px solid #8E8F99;
border-radius: 4px;
background-color: #F4F4FD;
margin-bottom: 8px;
padding: 24px 100px;
}



/*========/FEATURES STYLES======*/

/*========OUR TEAM STYLES======*/
.our-team{
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.header-our-team{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
    
}

.list-our-team{
    background:  #FFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
 }

.team-name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.speciality{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.menu-our-team{
    display:flex;
    gap: 24px;
}

.our-team-border{
    padding: 32px 0;
}

.social-link-icon{
    fill: #f4f4fd;
}

.social-link-item{
width: 40px;
height: 40px;
}

.social-list-link{
width: 100%;
height: 100%;
border-radius: 50%;
background-color: #4D5AE5;
display: flex;
justify-content: center;
align-items: center;
margin-top: 8px;
margin-bottom: 32px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.social-list-link:hover,
.social-list-link:focus{
    background-color: #404BBF;
} 
    

/*========/OUR TEAM STYLES======*/

/*========PORTFOLIO STYLES======*/

.header-portfolio{
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.app-name{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
        }

.app-description{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
        }

.menu-portfolio{
    display:flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow:#2E2F42 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.portfolio-border{
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
       
}

.section-portfolio{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio{
    padding: 120px 0 120px 0;
}


.overlay{
    position: absolute;
    top: 0;
    line-height: 1.5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}

.image-overlay{
    position: relative;
    overflow: hidden;
}

.list-portfolio:hover .overlay {
    transform: translateY(0%);
}

.list-portfolio:hover{  
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list-portfolio{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*========/PORTFOLIO STYLES======*/

/*========FOOTER STYLES======*/
.footer{
  background: #2E2F42;
}
 
.logo-footer{
        color: #4d5ae5;
        font-family: "Raleway",sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
}

.text-footer{
        color: #F4F4FD;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        width: 264px;
      
}

.footer{
padding: 100px 0;
}

.studio{
    color: #f4f4fd;
}

.social-links-footer{
    display: flex;
    gap:16px;
}

.social-link-footer{
    width: 40px;
    height: 40px;
}

.flex-footer{
    display: flex;
    align-items: baseline;
    }

.text-logo-footer{
    margin-right: 120px;
}

.text-social-media {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;

}

.color-footer:hover,
.color-footer:focus{
background-color: #31D0AA;
}

.social-list-link{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-subscribe{
color:#FFF;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

.subscribe-form{
    display: flex;
    gap:24px;

    
}

.footer-subscribe-form{
    display: flex;
    column-gap: 24px;
    flex-direction: column;
    margin-left: 80px;
   }
 
.subscribe-form-label{
    display:flex;  
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    }

.subscribe-form-input{
    width:264px;
    height:40px;
    border-radius: 4px;
    border-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    outline: 0px solid transparent;
    border: 1px solid #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;

}

.subscribe-form-input::placeholder{
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-submit-btn{
    min-width: 165px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    color: #FFF;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subscribe-btn-icon{
    fill: #FFFFFF;
}

.subscribe-submit-btn:hover,
.subscribe-submit-btn:focus {
   background-color: #404BBF;
}

.subscribe-btn-icon{
    margin-left: 16px;
}


/*========/FOOTER STYLES======*/

/*========BACKDROP STYLES======*/
  .backdrop{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999999999999999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

/*========/BACKDROP STYLES======*/

/*========MODAL WINDOW STYLES======*/

.modal{
width: 408px;
min-height: 584px;
border-radius: 4px;
background-color: #FCFCFC;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 72px 24px 24px 24px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
            0px 1px 3px rgba(0, 0, 0, 0.12), 
            0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    flex-shrink: 0;
    fill: #2E2F42;
    stroke-width: 1px;
    border-radius: 50%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
}

.modal-close-btn:hover,
.modal-close-btn:focus{
fill: #FFFFFF;
background-color: #404BBF;
border: none;
}

.modal-close-btn-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.contacts-form-wrapper{
    margin-bottom: 8px;
}

.text-form{
    color:#2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 500;
    width: 360px;
    margin-bottom: 16px;
}

.contacts-form-label{
    color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
}

.contacts-input-wrapper{
    position: relative;
}

.contacts-form-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color:transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}

.contacts-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts-form-input:focus{
    border-color:#4D5AE5;
}

.contacts-form-input:focus + .contacts-input-icon{
fill: #4D5AE5;
}

.textarea-form-wrapper{
    margin-bottom: 16px;
    display: block;
}
.comment-text-input{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border: 1px solid rgba(46, 47, 66, 0.40);
    background-color: transparent;
    padding: 8px 16px;
    resize: none;
    outline: 0px solid transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text-input::placeholder{
color: rgba(46, 47, 66, 0.40);
}

.comment-text-input:focus{
   border-color: #4D5AE5;
}

.contacts-form-checkbox-wrapper{
    margin-bottom: 24px;
}

.checkbox-form-label{
    color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.accent-color{
    color:#4D5AE5 ;
}

.contacts-form-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    cursor: pointer;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-form-input:checked+
.checkbox-form-label>
.contacts-form-checkbox{
    background-color: #404BBF;
    border-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.contacts-checkbox-icon{
    fill: #F4F4FD;
    opacity: 0;
}

.checkbox-form-input:checked+
.checkbox-form-label 
.contacts-checkbox-icon{
    opacity: 1;
    fill:#F4F4FD;
}

.checkbox-form-input:focus+
.checkbox-form-label>
.contacts-form-checkbox{
    outline: 1px solid #4D5AE5;
}

.contacts-submit-btn{
    min-width: 169px;
    padding: 16px 32px;
    border-radius: 4px;
    background:#4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    color: #FFF;
    margin: 0 auto;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    text-align: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-submit-btn:hover,
.contacts-submit-btn:focus{
     background-color: #404BBF;
}


/*========/MODAL WINDOW STYLES======*/