/*========COMMOMN STYLES======*/
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}


body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.accent-color{
    color: #4D5AE5;
}


/*========/COMMOMN STYLES======*/

/*========MOBILE HEADER STYLES======*/

.page-header{
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.container{
    max-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
   
}

.menu{
    display: none;
}

.address{
    display: none;
}

.logo-header{
    color:#2E2F42;
        font-family: Raleway,sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}


.page-header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.current {
    position: relative;
    color: #404BBF;
}

.color{
    color: #4D5AE5;
}

.social-links-mobile {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-bottom: 40px;
}

.social-list-mobile {
    width: 40px;
    height: 40px;
}

.social-link-icon {
    fill: #f4f4fd;
}

.social-list-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px){
 
.mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        stroke: #2F2F37;
    }

.mobile-window-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
    background-color: #FFF;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.mobile-window-menu.is-open {
    transform: translateX(0%);
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    width: 24px;
    height: 24px;
    stroke-width: 1px;
    stroke: #2E2F42;
    border-color: #E7E9FC;
    border-radius: 50%;
    border: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    line-height: 0;

}

.mobile-menu-navigation {
    padding-top: 72px;
}

.mobile-menu-link {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 40px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address {
    font-style: normal;
}

.mobile-address-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-address {
    padding-top: 124px;
    margin-bottom: 24px;
}

}
/*========/MOBILE HEADER STYLES======*/


/*========MOBILE HERO STYLES======*/

.hero {
    max-width: 1440px;
    background-color: #2E2F42;
    padding-bottom: 72px;
    padding-top: 72px;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-main-mobile1x.jpg),
        url(../images/hero/hero-main-mobile2x.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.header-hero {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.hero-title {
    max-width: 169px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.main-button {
    background: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    display: block;
    border-radius: 4px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*========/MOBILE HERO STYLES======*/

/*========MOBILE FEATURES STYLES======*/

.icon-border{
    display: none;
}

.subheader-features {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;

}

.text-features {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

.menu-features {
    display: flex;
    flex-direction: column;
    gap: 72px;
    
}
.list-features{
    width: 288px;
  
}
    

.section-features {
    padding-top: 96px;
    padding-bottom: 96px;
}


/*========/MOBILE FEATURES STYLES======*/

/*========MOBILE OUR TEAM STYLES======*/

.team-container{
width: 296px;
}

.our-team {
    background: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}

.header-our-team {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;

}

.list-our-team {
    background: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}

.speciality {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.menu-our-team {
    display: flex;
    flex-direction: column;
    gap: 72px;
    margin: 0 auto;
       
}

.team-container{
    width: 296px;
}

.our-team-border {
    padding: 32px 0;
    
}

.social-link-item {
    width: 40px;
    height: 40px;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

/*========/MOBILE OUR TEAM STYLES======*/

/*========MOBILE PORTFOLIO STYLES======*/

.header-portfolio {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.app-name {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.app-description {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    box-shadow: #2E2F42 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-border {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;

}

.section-portfolio {
    padding: 96px 0 96px 0;
}

.overlay{
    display: none;
}

.list-portfolio {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    
}

/*========/MOBILE PORTFOLIO STYLES======*/

    /*========MOBILE FOOTER======*/
.footer {
    background: #2E2F42;
    padding: 96px 0;
}

.flex-footer{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.logo-footer {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.text-footer {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;

}

.studio {
    color: #f4f4fd;
}

.social-links-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-link-footer {
    width: 40px;
    height: 40px;
}

.text-social-media {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;

}

.text-subscribe {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.subscribe-form {
    display: flex;
    gap: 24px;


}

.footer-subscribe-form {
    display: block;
    column-gap: 24px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.subscribe-form-label {
    display: flex;
    color: #8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.subscribe-form-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border-color: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding-left: 16px;
    outline: 0px solid transparent;
    border: 1px solid #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    color: #ffffff;

}

.subscribe-form-input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 2.0;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.subscribe-submit-btn {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px 8px 24px;
    border-radius: 4px;
    background: #4D5AE5;
    border: none;
    color: #FFF;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.subscribe-btn-icon {
    fill: #FFFFFF;
}


    /*========/MOBILE FOOTER======*/

        /*========TABLET======*/

@media screen and (min-width:768px) 
{
.container{
max-width: 768px;
    }

/*========TABLET HEADER STYLES======*/

.mobile-menu-btn{
    display: none;
}

.mobile-window-menu{
    display: none;
}

.page-header {
    padding-top: 10px;
    padding-bottom: 0;
}
.menu {
    display: flex;
    gap:40px;
}

.address {
    display: flex;
    font-style: normal;

}

.page-navigation {
    display: flex;
    align-items: center;
}

.logo-header {
       margin-right: 120px;
}

.menu-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
    position: relative;
    color: #404BBF;
}

.menu-link.current::after {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.link-address {
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 12px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*========/TABLET HEADER STYLES======*/

/*========TABLET HERO STYLES======*/

.hero {
    padding-bottom: 112px;
    padding-top: 112px;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-main-tablet1x.jpg);
    }

@media(min-device-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx){
    .hero{
        background-image:
                linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/hero/hero-main-tablet2x.jpg);
    }
}


.header-hero {
     font-size: 56px;
     font-weight: 700;
     line-height: 1.07;
     letter-spacing: 0.02em;
     
}

.hero-title {
    max-width: 496px;
    margin-bottom: 36px;
}

/*========/TABLET HERO STYLES======*/

/*========TABLET FEATURES STYLES======*/

.list-features {
    width: calc((100% - 24px) / 2);
}

.menu-features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
}

.list-features {
    
    margin-bottom: 72px;

}

/*========TABLET FEATURES STYLES======*/

/*========TABLET OUR TEAM STYLES======*/



.list-our-team {
    width: calc((100% - 24px) / 2);
    }


.menu-our-team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    
    
}
.team-container{
    width:584px;
}

.list-our-team{
    margin-bottom: 64px;
}


/*========/TABLET OUR TEAM STYLES======*/

/*========TABLET PORTFOLIO STYLES======*/

/*========/TABLET PORTFOLIO STYLES======*/

}

       /*========DESKTOP======*/


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
        margin: 0 auto;
    }

/*========DESKTOP HEADER STYLES======*/
link-address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-address:hover {
    color: #404bbf;
}

.link-address:focus {
    color: #404bbf;
}
.list-address {
    display: flex;
    gap: 40px;
}

.logo-header {
    margin-right: 76px;
}

/*========/DESCTOP HEADER STYLES======*/

/*========DESKTOP HERO STYLES======*/

.section {
    padding-top: 60px;
    padding-bottom: 60px;
}

.hero {
    padding-bottom: 188px;
    padding-top: 188px;
    background-image:
        linear-gradient(to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/hero-main1x.jpg);
    }

@media(min-device-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
    .hero {
        background-image:
            linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/hero-main-desktop2x.jpg);
    }
}


.header-hero {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    }

.hero-title {
    margin-bottom: 48px;
}

.main-button:hover {
    background-color: #404BBF;
}

.main-button:focus {
    background-color: #404BBF
}

/*========/DESKTOP HERO STYLES======*/

/*========DESKTOP FEATURES STYLES======*/

.subheader-features {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}

.text-features {
font-weight: 500;
    
}

.menu-features {
    display: flex;
    gap: 24px;
}

.list-features {
    width: calc((100% - 72px) / 4);
}

.section-features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.icon-features {
    fill: #2e2f42;
}

.icon-border {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    padding: 24px 100px;
}

/*========DESKTOP FEATURES STYLES======*/

/*========DESKTOP OUR TEAM STYLES======*/

.our-team {
    padding-top: 120px;
    padding-bottom: 120px;
}


.team-container {
    width: 1128px;
}

.list-our-team {
    width: calc((100% - 72px) / 4);
}

.menu-our-team {
    display: flex;
    gap: 24px;
}


.social-list-link:hover,
.social-list-link:focus {
    background-color: #404BBF;
}

/*========/DESKTOP OUR TEAM STYLES======*/

/*========DESKTOP PORTFOLIO STYLES======*/


.section-portfolio {
    padding: 120px 0 120px 0;
}


.overlay {
    position: absolute;
    top: 0;
    line-height: 1.5;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    display: block;
}

.image-overlay {
    position: relative;
    overflow: hidden;
}

.list-portfolio:hover .overlay {
    transform: translateY(0%);
}

.list-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.list-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*========/DESKTOP PORTFOLIO STYLES======*/

}

